@using System.Collections.Generic
@model IEnumerable<GitServer.ApplicationCore.Models.Repository>
@{
    ViewBag.Title = "Home";
}

<div class="w3-card-4 w3-margin w3-animate-top">
    <header class="w3-container w3-theme w3-padding">
        <h1 class="">Repositories</h1>
    </header>

</div>
<a href="/Home/Create" class=" w3-margin w3-round-large w3-button w3-large w3-theme-action">New+</a>
<br />
<br />
<br />
@foreach (var repo in Model)
{
    <div class="w3-card-4 w3-margin w3-animate-bottom">
        <header class="w3-container w3-theme w3-padding">
            <h1 class="">@repo.Name</h1>
        </header>
        <div class="w3-container">
            <p class="">@repo.Description</p>
            <p class="">Updated @repo.UpdateTime, created @repo.CreationDate</p>
            @Html.RouteLink(repo.Name, "GetRepositoryHomeView", new { userName = repo.UserName, repoName = repo.Name }, new { @class = "w3-btn w3-theme-action w3-padding" })
            <br />
            <br />
        </div>
    </div>

}

@*
<h2 class="ui header">Repositories</h2>
<div class="right">
    <a href="/Home/Create">
        <div class="ui teal labeled icon button"><i class="folder outline icon"></i>New</div>
    </a>
</div>
<div class="ui relaxed divided list">
    @foreach (var repo in Model)
    {
        <div class="item">
            <i class="large github middle aligned icon"></i>
            <div class="content">
                @Html.RouteLink(repo.Name, "GetRepositoryHomeView", new { userName = repo.UserName, repoName = repo.Name }, new { @class = "header medium ui" })
                <div class="description">@repo.Description</div>
                <div class="description">Updated @repo.UpdateTime, created @repo.CreationDate</div>
            </div>
        </div>
    }
</div>*@