@{
    ViewBag.Title = "Quick help";

    string currRepo = (string)ViewContext.RouteData.Values["repoName"];
    string currUser = (string)ViewContext.RouteData.Values["userName"];
    string currId = (string)ViewContext.RouteData.Values["id"];
    var request = ViewContext.HttpContext.Request;
    var giturl = $"{request.Scheme}://{request.Host}/{currUser}/{currRepo}.git";
    string defaultBranch = GitServer.Constants.Constants.DefaultBranch;
}


<div class="w3-card-4 w3-margin">
    <header class="w3-container w3-theme w3-padding">
        <h1 class="">@currUser / @currRepo</h1>
    </header>

 @*   <div class="w3-container">
        
    </div>*@
</div>

<div class="w3-card-4 w3-margin">
    <header class="w3-container w3-theme w3-padding">
        <h4 class="">Quick help</h4>
    </header>

    <div class="w3-container w3-padding">
        <h3>
            Clone the current repository <small>
                Don't know how to do it?
                <a href="http://git-scm.com/book/en/Git-Basics-Getting-a-Git-Repository" target="_blank" rel="nofollow">Here</a> view help！
            </small>
        </h3>

        <div class="w3-row">

            <div class="w3-col w3-left" style="width:75px;">
                <button class="w3-btn w3-border" style="width:75px;" id="repo-clone-https" data-link="@giturl">
                    HTTP
                </button>
            </div>
            <div class="w3-col w3-right" style="width:75px">
                <button onclick="copyLink();"  id="btnCopyToClipboard" class="w3-btn w3-border"><i class="copy icon"></i> Copy</button>
            </div>

            <div class="w3-rest">
                <input class="w3-input w3-border " id="inputGitUrl" type="text" value="@giturl" readonly>
            </div>
            
     @*       <div class="w3-rest">
                <input type="text" class="w3-input w3-border w3-rest" value="@giturl" id="inputGitUrl" readonly>
            </div>*@
        </div>

        <hr class="w3-clear">
        <h4 class="">Clone the project to the local repository in the folder of your projects</h4>
        <div class="markdown">

            <pre><code>git clone @giturl
cd @currRepo
git remote -v
git status</code></pre>
        </div>
        <hr class="w3-clear">
        <h4 class="">Create a new local repository and link with the repository on the server</h4>
        <div class="markdown">
            <pre><code>git init
git remote add origin <span class="clone-url">@giturl</span>
git remote -v
</code></pre>
        </div>
        <hr class="w3-clear">
        <h4 class="">Add files to local repository and push to remote repository</h4>
        <div class="markdown">
            <pre><code>ren > README.md
git status
git add README.md
git status
git commit -m "first commit"
git status
git push -u origin @defaultBranch
git status</code></pre>
        </div>
    </div>
</div>

@section Scripts {
<script>


        function copyLink() {
            const copyText = document.getElementById("inputGitUrl");
            copyText.select();
            document.execCommand("copy");
        }
</script>
}