@{
    ViewBag.Title = "Quick help";

    string currRepo = (string)ViewContext.RouteData.Values["repoName"];
    string currUser = (string)ViewContext.RouteData.Values["userName"];
    string currId = (string)ViewContext.RouteData.Values["id"];
    var request = ViewContext.HttpContext.Request;
    var giturl = $"{request.Scheme}://{request.Host}/{currUser}/{currRepo}.git";
}
<div class="ui clearing segment">
    <h3 class="ui left floated header">@currUser / @currRepo</h3>
</div>
<div class="ui container">
    <div class="ui grid">
        <div class="sixteen wide column content">
            <h4 class="ui top attached header">
                Quick help
            </h4>
            <div class="ui attached guide table segment">
                <div class="item">
                    <h3>Clone the current repository <small>Don't know how to do it? <a href="http://git-scm.com/book/en/Git-Basics-Getting-a-Git-Repository" target="_blank" rel="nofollow">Here</a> view help！</small></h3>
                    <div class="ui fluid action small input">
                        <button class="ui basic clone button blue" id="repo-clone-https" data-link="@giturl">
                            HTTP
                        </button>
                        <input type="text" value="@giturl" readonly>
                        <button class="ui teal right labeled icon button"><i class="copy icon"></i> Copy</button>
                    </div>
                </div>
                <div class="ui divider"></div>

                <div class="item">
                    <h3>Create a new local repository from the command line (Windows)</h3>
                    <div class="markdown">
                        <pre><code>ren > README.md
git init
git add README.md
git commit -m "first commit"
git remote add origin <span class="clone-url">@giturl</span>
git push -u origin master</code></pre>
                    </div>
                </div>
                <div class="ui divider"></div>

                <div class="item">
                    <h3>Push the created local repository from the command line</h3>
                    <div class="markdown">
                        <pre><code>git remote add origin <span class="clone-url">@giturl</span>
git push -u origin master</code></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>